<h2>New Entry</h2>

<md-content>
    <div class="form">
        <select ng-model="vm.newEntry.project_id">
            <option disable selected value>Project Name</option>
            <option ng-repeat="project in vm.projectList.result" value="{{project.id}}">{{project.title}}</option>
        </select>
        <!-- <input ng-model="vm.newEntry.project" type="text" placeholder="Project Title"> -->
        <input ng-model="vm.newEntry.notes" type="text" placeholder="Notes...">
        <input ng-model="vm.newEntry.date" type="date" placeholder="mm/dd/yyyy">
        <!-- <md-datepicker ng-model="vm.newEntry.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker> -->
        <input ng-model="vm.newEntry.time" type="number" placeholder="Time Spent (hrs)">
        <button ng-click="vm.addEntry(vm.newEntry)">ADD</button>
    </div>
    <h2>Recent Entries</h2>
    <div class="table table-striped table-hover">
        <table>
            <thead>
                <tr>
                    <th>Notes</th>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Hours </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entryList.result">
                    <td>{{entry.notes}}</td>
                    <td>{{entry.title}}</td>
                    <!-- <td>{{entry.date.split('T05')[0]}}</td> -->
                    <td>{{entry.date | date: 'shortDate'}}</td>
                    <td>{{entry.time}}</td>
                    <td>
                        <!-- <md-button class="md-warn md-raised md-hue-2" ng-click="vm.deleteEntry(entry.id)">DELETE</md-button> -->
                        <!-- <button >DELETE</button> -->
                        <button ng-click="vm.deleteEntry(entry.id)" type="button" class="btn btn-danger btn-sm">DELETE</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>