<h2>New Entry</h2>

<div>
    <select ng-model="vm.newEntry.project_id">
        <option disable selected value>Project Name</option>
        <option ng-repeat="project in vm.projectList.result" value="{{project.id}}">{{project.title}}</option>
    </select>
    <!-- <input ng-model="vm.newEntry.project" type="text" placeholder="Project Title"> -->
    <input ng-model="vm.newEntry.notes" type="text" placeholder="Notes...">
    <input ng-model="vm.newEntry.date" type="text" placeholder="mm/dd/yyyy">
    <input ng-model="vm.newEntry.time" type="text" placeholder="Time Spent (hrs)">
    <button ng-click="vm.addEntry(vm.newEntry)">ADD</button>
</div>
<h2>Recent Entries</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Notes</th>
                <th>Project</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in vm.entryList.result">
                <td>{{entry.notes}}</td>
                <td>{{entry.project}}</td>
                <td>{{entry.date}}</td>
                <td>{{entry.time}}</td>
                <td>
                    <button ng-click="vm.deleteEntry(entry.id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>